Connected Services/Almacen/Almacen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33620/Almacen.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebApplication1" />
  <xs:element name="getForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebApplication1" minOccurs="0" name="usuario" nillable="true" type="q1:InfoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>