Connected Services/Almacen/Almacen1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApplication1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApplication1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InfoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="userApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="userDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userRequerimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userSexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoUsuario" nillable="true" type="tns:InfoUsuario" />
</xs:schema>